#menu {
    font-family: Arial;
}

#menu p {
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    padding: 3px;
    width: 160px;
    background-color: #f7f8e8;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}

#menu a:link,
#menu a:visited {
    color: #ff0000;
    text-decoration: none;
}

#menu a:hover {
    background-color: #336699;
    color: #ffffff;
}