.servicios-red {
    background-color: turquoise;
}

.aw {
    background-color: orange;
}

.Inglés-Tecnico {
    background-color: yellow;

}

.SO {
    background-color: blueviolet;

}

.SI {
    background-color: greenyellow;

}


.Empresa {
    background-color: rgb(255, 0, 0);

}

.Demas {
    background-color: rgb(22, 113, 216);

}
