/* styles.css */

/* Estilos generales */

.fondo {
    background-color: #000000;
}

.menu-perfil {
    background-color: #000000;
    color: #e00;
    padding: 10px 0;
    text-align: center;
}
.texto-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: #000000;
    position: fixed;
    z-index: 10;
    color: #e00;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Barra de navegación */

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: max-content;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: #e00;
    text-decoration: none;
    transition: color 0.3s;
    font: bolder;
    font-size: 20px;
}

.fijo {
    width: 100%;
    margin: auto;
    overflow:hidden;
    background-color: #000;
}

.Logo-bienvenida img {
    height: 60px; /* La imagen se ajusta al 100% del contenedor */
    border-radius: 50%; /* Hace que la imagen también sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el círculo sin distorsionarse */
}

/* Estilos despleglables */

.desplegable-secciones {
    display: none;
    position: fixed;
    background-color: #000000;
    z-index: 2;
    color: white;
    width: px;
    left: px;
    top: px;
}

.desplegable-secciones a {
    padding: 2.5px;
    display: block;
    text-decoration: none;
    color: lightblue;
}

.desplegable-secciones a:hover {
    color: red;
}

.nsvitem:hover {
    color: white;
    background-color: red;
}

/*Estilos Banner*/
.hero {
    height: 800px;
    color: #e00;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    background-image: url("/Pagina-web-extraordinaria/Perfil-personal/imagenes/shutterstock_552746107.webp");
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.hero h2{
    color: #fff;
    font-size: 60px;
}

.hero p{
    color: #fff;
    font-size: 40px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    max-width: 1000px;
    z-index: 1;
    margin: 0px 5%;
    }


































    
/*Estilos pie de pagina*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    margin-bottom: 10px;
    color: #e00;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: red;
}

footer p {
    margin: 20px 0 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 2rem;
    color: #2c3e50;
}

/* Estilos About*/

.about{
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.about h2{
    color: red;
}

.about a {
    text-decoration: none;
}

.about p:hover {
    color: red;
}

body {
    font-size: 16px;
}


.carousel-container {
    width: 100%; /* Ajusta el ancho según tu diseño */
    overflow: hidden;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .carousel-track img {
    width: 100%; /* Ajusta según tus necesidades */
    flex-shrink: 0; /* Asegura que las imágenes no se reduzcan */
  }
  
  /* Animación para desplazar las imágenes */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-194.3%); /* Mover hasta la mitad del contenido duplicado */
    }
  }
  
  .carousel-track {
    display: flex;
    animation: scroll 20s linear infinite; /* Incrementar el tiempo para recorrer el doble del contenido */
  }
  
  .carousel-track img {
    width: 100px; /* Ancho deseado */
    height: 100px; /* Alto deseado */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    margin-right: 60px; /* Espacio entre las imágenes */
  }
  
  .carousel-container {
    overflow: hidden;
    width: 100%; /* Ajusta según tus necesidades */
  }
  
  .carousel {
    background: #333; /* Fondo del carrusel */
    padding: 20px 0; /* Espaciado superior e inferior */
  }

 .Perfil h2{
    text-align: center;
    color: red;
  }

.Perfil p{
    text-align: center;
    color: white;
  }

  .center {
    align-items: center;
  }

  .Perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instrumentos  {
    color: white
  