#contenedorform {
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #ffe;
    border: 1px solid #CCC;
    padding: 10px 0 10px 0;
}

#contenedorform form label {
    width: 120px;
    float: left;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.botonsubmit {
    color: #f00;
    background-color: #bbb;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
}
