/*selector universal*/
*{
    background-color: white
    );
}

/*Selector de etiqueta*/
h1.pruebalocal{
    background-color: rgb(89, 173, 89);
}
p.fondoazul{
    background-color: Orange;
}
p.fondoverde{
    background-color: lime;
}
p.fondorojo{
    background-color: rgb(216, 81, 81);
}
p.fondorosa{
    background-color: rgb(212, 112, 191);
}
p.fondonamorado{
    background-color: rgb(114, 46, 114);
}
p.unicomarron{
    background-color: saddlebrown;
}

/*Selectores descendientes*/

h2.Segundo-apartado{
    color: aqua;
    background-color: red;
    }

p.parrafo6{
    text-align: center;
}

p.circulogris{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 8);
    border-radius: 50%;
}


/*Selectores descendientes*/

footer{
    padding: ;
    margin:auto;
    border-color: blueviolet;
    border-width: 15px;
    border-style: ridge;
    border-radius: 15px;
}

footer p {
    color: red;
}



